.profile {
  margin: 0 auto 80px;
  padding-top: 20px;
  width: 300px;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 0px 28px -4px rgba(0, 0, 0, 0.75);
}

.description {
  text-align: center;
  margin-bottom: 16px;
}
.avatar {
  padding: 10px;
  margin: 0 auto;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #d5cece;
  margin-bottom: 20px;
}
.name {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}
.tag,
.location {
  color: rgba(124, 139, 154, 0.7);
  font-weight: 600;
}
.tag {
  margin-bottom: 12px;
}
