.statistics {
  margin-bottom: 80px;
}
.statList {
  display: flex;
}

.title {
  padding: 20px;
  background-color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
